
        body {background-color: whitesmoke;}
        h1 {color: blue;}
        p {color: red;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 160%;
            border: 0.5px solid black;
            padding: 5px;
            margin: 5px;
        }

          a:link {
            color: green;
            background-color: transparent;
            text-decoration: none;
          }
          a:visited {
            color: purple;
            background-color: transparent;
            text-decoration: none;
          }
          a:hover {
            color: red;
            background-color: transparent;
            text-decoration: underline;
          }
          a:active {
            color: yellow;
            background-color: transparent;
            text-decoration: underline;
          }

          table,th, td {
            border: 1px solid black;
            border-style: dotted;
            border-spacing: 5px;
            /*border-radius: 10px; to create round borders*/
            /*border-collapse: collapse; collapses the bordet into a single border*/
          }

          td {
            background-color: #96D4D4;
            border-color: #96D4D4;
            padding-top: 10px;
            padding-bottom: 20px;
            padding-left: 120px;
            padding-right: 40px;
        
          }

          th{
            text-align: left;
          }

          
  